<div id="fb-root"><p style="text-align:center" ;><img src="/images/nure.png"></p></div>

<div id="main-demo-body">
    <div class="container">
        <div class="demo-widget">
            <div class="demo-widget-header">Приемная комиссия</div>
            <div class="demo-widget-body">

                <div id="chatbot">
                    <div id="chatbot-message">
                        <p><span class="user">Комиссия: </span>Приветствую, я чатбот, который ответит на интересующие
                            вас вопросы по поводу поступления в наш ВУЗ.</p>
                    </div>
                    <form action="">
                        <div class="input-group">
                            <input id="chatbot-input" type="text" class="form-control"
                                   placeholder="Введите сообщение..." autocomplete="off">
                            <div class="input-group-btn">
                                <button id="chatbot-submit" class="btn btn-default" type="submit">Отправить</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
</div>
