<section class="hero">
  <div>
    <div class="hero__img" style="background-image: url('/images/nure-banner.png');"></div>
  </div>
  <div class="hero__content">
    <div class="scroll-indicator"></div>
  </div>
</section>
	<section style="padding: 10px;">
		<div class="inner-wrapper">
			<aside class="frame"></aside>
			<div class="content">
				<h1 class="section__title">Структура ХНУРЕ</h1>
				<div class="container col-md-12">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										Факультет информационно-аналитических технологий и менеджмента (ИТМ)
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="list-group">
									<div class="panel-body">
										<div class="col-md-8">
											<a href="http://nure.ua/university/structure/departments/pmm/pm/" class="list-group-item">Кафедра прикладной математики (ПМ)</a>
											<a href="http://nure.ua/university/structure/departments/pmm/inf/" class="list-group-item">Кафедра информатики (ИНФ)</a>
											<a href="http://nure.ua/university/structure/departments/pmm/ek/" class="list-group-item">Кафедра экономической кибернетики и управления экономической безопасностью (ЭК)</a>
											<a href="http://nure.ua/university/structure/departments/pmm/vm/" class="list-group-item">Кафедра высшей математики (ВМ)</a>
											<a href="http://nure.ua/university/structure/departments/pmm/si/" class="list-group-item">Кафедра социальной информатики (СИ)</a>
										</div>
										<div class="col-md-4"><img src="https://www.nure.info/uploads/posts/2017-03/1489314420_fakultety-hnure-fakultet-informacionno-analiticheskih-tehnologiy-i-menedzhmenta-itm.jpg" class="img-rounded"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Факультет автоматики и компьютеризированных технологий (АКТ)
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="list-group">
									<div class="panel-body">
										<div class="col-md-8">
											<a href="http://nure.ua/university/structure/departments/akt/peea/" class="list-group-item">Кафедра инженерии встроенных систем управления (ИВСУ)</a>
											<a href="http://nure.ua/university/structure/departments/akt/tapr/" class="list-group-item">Кафедра компьютерно-интегрированных технологий, автоматизации и мехатроники (КИТАМ)</a>
											<a href="http://nure.ua/university/structure/departments/akt/physics/" class="list-group-item">Кафедра физики</a>
											<a href="http://nure.ua/university/structure/departments/akt/ot/" class="list-group-item">Кафедра охраны труда (ОТ)</a>
										</div>
										<div class="col-md-4"><img src="https://www.nure.info/uploads/posts/2017-03/1489314402_fakultety-hnure-fakultet-avtomatiki-i-kompyuterizirovannyh-tehnologiy-akt.jpg" class="img-rounded"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Факультет компьютерных наук (КН)
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="list-group">
									<div class="panel-body">
										<div class="col-md-8">
											<a href="http://nure.ua/university/structure/departments/kn/ius/" class="list-group-item">Кафедра информационных управляющих систем (ИУС)</a>
											<a href="http://nure.ua/university/structure/departments/kn/st/" class="list-group-item">Кафедра системотехники (СТ)</a>
											<a href="http://nure.ua/university/structure/departments/kn/software/" class="list-group-item">Кафедра программной инженерии (ПИ)</a>
											<a href="http://nure.ua/university/structure/departments/kn/ii/" class="list-group-item">Кафедра искусственного интеллекта (ИИ)</a>
											<a href="http://nure.ua/university/structure/departments/kn/mst/" class="list-group-item">Кафедра медиасистем и технологий (МСТ)</a>
										</div>
										<div class="col-md-4"><img src="https://www.nure.info/uploads/posts/2017-03/1489314323_fakultety-hnure-fakultet-kompyuternyh-nauk-kn.jpg" class="img-rounded"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Факультет инфокоммуникаций (ИК)
									</a>
								</h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								<div class="list-group">
									<div class="panel-body">
										<div class="col-md-8">
											<a href="http://nure.ua/university/structure/departments/tkit/tks/" class="list-group-item">Кафедра инфокоммуникационной инженерии (ИКИ)</a>
											<a href="http://nure.ua/university/structure/departments/tkit/ss/" class="list-group-item">Кафед
												ра информационно-сетевой инженерии (ИСИ)</a>
												<a href="http://nure.ua/university/structure/departments/tkit/mit/" class="list-group-item">Кафедра метрологии и технической экспертизы (МТЭ)</a>
											</div>
											<div class="col-md-4"><img src="https://www.nure.info/uploads/posts/2017-03/1489314385_fakultety-hnure-fakultet-infokommunikaciy-ik.jpg" class="img-rounded"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingFive">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											Факультет электронной и биомедицинской инженерии (ЭЛБИ)
										</a>
									</h4>
								</div>
								<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									<div class="list-group">
										<div class="panel-body">
											<div class="col-md-8">
												<a href="http://nure.ua/university/structure/departments/et/mepu/" class="list-group-item">Кафедра микроэлектроники, электронных приборов и устройств (МЭЭПУ)</a>
												<a href="http://nure.ua/university/structure/departments/et/foet/" class="list-group-item">Кафедра фотоники и лазерной инженерии (ФЛИ)</a>
												<a href="http://nure.ua/university/structure/departments/et/bme/" class="list-group-item">Кафедра биомедицинской инженерии (БМИ)</a>
												<a href="http://nure.ua/university/structure/departments/et/fv/" class="list-group-item">Кафедра физического воспитания и спорта (ФВС)</a>
											</div>
											<div class="col-md-4"><img src="https://www.nure.info/uploads/posts/2017-03/1489314277_fakultety-hnure-fakultet-elektronnoy-i-biomedicinskoy-inzhenerii-elbi.jpg" class="img-rounded"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingSix">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
											Факультет информационных радиотехнологий и технической защиты информации (ИРТЗИ)
										</a>
									</h4>
								</div>
								<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
									<div class="list-group">
										<div class="panel-body">
											<div class="col-md-8">
												<a href="http://nure.ua/university/structure/departments/rt/ort/" class="list-group-item">Кафедра компьютерной радиоинженерии и систем технической защиты информации (КРИСТЗИ)</a>
												<a href="http://nure.ua/university/structure/departments/rt/ru/" class="list-group-item">Кафедра радиотехнологий информационно-коммуникационных систем (РТИКС)</a>
												<a href="http://nure.ua/university/structure/departments/rt/res/" class="list-group-item">Кафедра медиаинженерии и информационных радиоэлектронных систем (МИРЭС)</a>
												<a href="http://nure.ua/university/structure/departments/rt/iniaz/" class="list-group-item">Кафедра иностранных языков</a>
											</div>
											<div class="col-md-4"><img src="https://www.nure.info/uploads/posts/2017-03/1489314300_fakultety-hnure-fakultet-informacionnyh-radiotehnologiy-i-tehnicheskoy-zaschity-informacii-irtzi.jpg" class="img-rounded"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingSeven">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
											Факультет обучения иностранных граждан
										</a>
									</h4>
								</div>
								<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
									<div class="list-group">
										<div class="panel-body">
											<div class="col-md-8">
												<a href="http://nure.ua/university/structure/departments/tsoig/training/" class="list-group-item">Кафедра языковой подготовки</a>
												<a href="http://nure.ua/university/structure/departments/tsoig/natural/" class="list-group-item">Кафедра естественных наук</a>
												<a href="http://nure.ua/university/structure/departments/tsoig/ukr/" class="list-group-item">Кафедра украиноведения (Укр)</a>
											</div>
											<div class="col-md-4"><img src="https://www.nure.info/uploads/posts/2017-03/1489314177_fakultety-hnure-fakultet-obucheniya-inostrannyh-grazhdan.jpg" class="img-rounded"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>