<div class="view-source"><a href="http://nure.ua/university/structure/departments/pmm/">Факультет информационно-аналитических технологий и менеджмента (ИТМ)</a>
	<div class="hide2">
		<ul>
			<li><a href="http://nure.ua/university/structure/departments/pmm/pm/">Кафедра прикладной математики (ПМ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/pmm/inf/">Кафедра информатики (ИНФ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/pmm/ek/">Кафедра экономической кибернетики и управления экономической безопасностью (ЭК)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/pmm/vm/">Кафедра высшей математики (ВМ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/pmm/si/">Кафедра социальной информатики (СИ)</a></li>
		</ul>
	</div>
</div>



<div class="view-source"><a href="#">Факультет автоматики и компьютеризированных технологий (АКТ)</a>
	<div class="hide2">
		<ul>
			<li><a href="http://nure.ua/university/structure/departments/akt/peea/">Кафедра инженерии встроенных систем управления (ИВСУ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/akt/tapr/">Кафедра компьютерно-интегрированных технологий, автоматизации и мехатроники (КИТАМ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/akt/physics/">Кафедра физики</a></li>
			<li><a href="http://nure.ua/university/structure/departments/akt/ot/">Кафедра охраны труда (ОТ)</a></li>
		</ul>
	</div>
</div>           


<div class="view-source"><a href="#">Факультет компьютерных наук (КН)</a>
	<div class="hide2">
		<ul>
			<li><a href="http://nure.ua/university/structure/departments/kn/ius/">Кафедра информационных управляющих систем (ИУС)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/kn/st/">Кафедра системотехники (СТ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/kn/software/">Кафедра программной инженерии (ПИ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/kn/ii/">Кафедра искусственного интеллекта (ИИ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/kn/mst/">Кафедра медиасистем и технологий (МСТ)</a></li>
		</ul>
	</div>
</div>         

<div class="view-source"><a href="#">Факультет инфокоммуникаций (ИК)</a>
	<div class="hide2">
		<ul>
			<li><a href="http://nure.ua/university/structure/departments/tkit/tks/">Кафедра инфокоммуникационной инженерии (ИКИ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/tkit/ss/">Кафедра информационно-сетевой инженерии (ИСИ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/tkit/mit/">Кафедра метрологии и технической экспертизы (МТЭ)</a></li>
		</ul>
	</div>
</div>

<div class="view-source"><a href="#">Факультет электронной и биомедицинской инженерии (ЭЛБИ)</a>
	<div class="hide2">
		<ul>
			<li><a href="http://nure.ua/university/structure/departments/et/mepu/">Кафедра микроэлектроники, электронных приборов и устройств (МЭЭПУ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/et/foet/">Кафедра фотоники и лазерной инженерии (ФЛИ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/et/bme/">Кафедра биомедицинской инженерии (БМИ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/et/fv/">Кафедра физического воспитания и спорта (ФВС)</a></li>
		</ul>
	</div>
</div>          


<div class="view-source"><a href="#">Факультет информационных радиотехнологий и технической защиты информации (ИРТЗИ)</a>
	<div class="hide2">
		<ul>
			<li><a href="http://nure.ua/university/structure/departments/rt/ort/">Кафедра компьютерной радиоинженерии и систем технической защиты информации (КРИСТЗИ)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/rt/ru/">Кафедра радиотехнологий информационно-коммуникационных систем (РТИКС)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/rt/res/">Кафедра медиаинженерии и информационных радиоэлектронных систем (МИРЭС)</a></li>
			<li><a href="http://nure.ua/university/structure/departments/rt/iniaz/">Кафедра иностранных языков</a></li>
		</ul>
	</div>
</div>



<div class="view-source"><a href="#">Факультет обуче&shy;ния иностран&shy;ных граждан</a>
	<div class="hide2">
		<ul>
			<li><a href="http://nure.ua/university/structure/departments/tsoig/training/">Кафедра языковой подготовки</a></li>
			<li><a href="http://nure.ua/university/structure/departments/tsoig/natural/">Кафедра естественных наук</a></li>
			<li><a href="http://nure.ua/university/structure/departments/tsoig/ukr/">Кафедра украиноведения (Укр)</a></li>
		</ul>
	</div>
</div>
