#chatbot #chatbot-message {
    padding: 0;
    border: 0px #d7d7d7 solid;
    height: 200px;
    border-radius: 4px;
    margin: 0 0 12px 0;
    font-size: 12px;
    overflow: hidden;
    overflow-y: auto
}

#chatbot #chatbot-message p {
    padding: 6px 12px;
    color: #000;
    margin: 0
}

#chatbot #chatbot-message p.from-bot {
    color: #000
}

#chatbot #chatbot-message p.from-bot .user {
    color: #000
}

#chatbot #chatbot-message p:nth-child(even) {
    background-color: #F1F1F1
}

#chatbot #chatbot-message .user {
    font-weight: bold;
    color: #000
}

#chatbot #chatbot-message .message {
    font-style: italic;
    color: #bfbfbf
}

#chatbot #chatbot-message .message .glyphicon {
    font-size: 10px
}

#chatbot .input-group-btn .btn {
    border-left: 0
}