<div class="rules">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4>здесь будет какой-нибудь вступительный текст</h4>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <%= render 'term', terms: @terms %>
    </div>
  </div>

  <br>
</div>
