 <div class="row">
   <div class="col-md-12 col-lg-12">
     <h1 class="contactme"><span>Дякую за повідомлення!</span> </h1><br>
      <h3 class="contactme"><span>Ми зв'яжемося з вами найближчим часом.</span> </h3><br>
   </div>
</div> 