@import "bootstrap-sprockets";
@import "bootstrap";
@import "main";

@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "modal";


a:hover {
    text-decoration: none;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

.terms {
    padding: 20px;
    text-align: center;
}

.rules {
    padding: 20px;
    text-align: center;
}

.new-item {
    padding: 20px;
}

.inline-buttons{
    display: inline;
    .btn-default {
        border-radius: 0;
        margin-top: -2px;
        padding: 0.85rem 2rem;

        &:hover{
            background: #337ab7;
        }
    }
    .create {
        font-family: "proxima-nova", sans-serif;
        font-weight: 500;
        color: #337ab7;
        border-color: #337ab7;
        cursor: pointer;

        &:hover{
            color: #fff;
        }
    }

}

.signup {
    padding: 20px;
    text-align: center;

    input {
        width: 300px;
    }

    select {
        width: 300px;
    }
}

#back{
    width: 125px;
    height: 50px;
}

.create {
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    color: #337ab7;
    border-color: #337ab7;
    cursor: pointer;

    .blue-border{
        border: 1px solid #337ab7;
    }

    &:hover{
        color: #fff;
    }
}


#news_image {
    border: none;
}

.frm_simple{
	width:70%
}

.rule-text{
    text-align: left;
}

.submenu{
  border: 1px solid #337ab7;
}