<div class="rules">

  <h1>Rules</h1>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4>здесь будет какой-нибудь вступительный текст</h4>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <% Rule.categories.map do |k, v|%>
        <div class="inline-buttons">
          <%= link_to v, polymorphic_path(k), class: 'btn btn-default create' %>
        </div>
      <% end %>
    </div>
  </div>


  <br>
</div>
