<div class="rules">

  <h1>Правила прийому</h1>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Шановні абітурієнти!

Дуже приємно, що ви обрали ХНУРЕ в якості пріоритетного ВНЗ для здобуття вищої освіти.

Ми дуже цінуємо ваш вибір і намагаємося зробити якомога більше для того, щоб збільшити ваш шанс вступу до ХНУРЕ.</h3>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <% Rule.categories.map do |k, v|%>
        <div class="inline-buttons">
          <%= link_to v, polymorphic_path(k), class: 'btn btn-default create' %>
        </div>
      <% end %>
    </div>
  </div>


  <br>
</div>
