<div class="rules">

  <h1>Вступ на 1-й курс</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>4 кроки вступу до ХНУРЕ</h2>
    </div>
  </div>
  <% @rules.each do |rule|%>
    <div class="row">
      <div class="col-md-12">
        <div class="rule-text">
          <h4><%= rule.text.html_safe %> </h4>
        </div>
      </div>
    </div>
  <% end %>

  <br>
</div>
